$progress-bar-height: 7px;
$progress-bar-height-mobile: 3px;

.heroCard {
  flex: 0 0 calc(100% / 3);
  padding: 0 4rem;
  box-sizing: border-box;

  @include tablet {
    flex: 0 0 calc(100% / 2);
    padding: 0 1rem;
  }

  &Top {
    position: relative;

    &:hover {
      & img {
        transform: scale(1)
      }
    }

    @include tablet {
      width: 15rem;
    }
  }

  &Tag {
    @extend .text;
    position: absolute;
    bottom: 10%;
    left: 5%;
    background-color: rgba($primary-color, .65);
    color: $white-color;
    padding: 5px 10px;
    border-radius: $border-radius;
    z-index: 1;
  }

  & img {
    border-radius: $border-radius;
    width: 100%;
    margin-bottom: 1rem;
    height: auto;
    transform: scale(1.05);
    transition: all .5s ease;

    @include tablet {
      border-radius: 2rem;
    }
  }

  &Title {
    @extend .textAlt;
    cursor: pointer;
    font-size: 32px;
    letter-spacing: 0;
    text-transform: none;
    line-height: 100%;
    margin: 1rem 0;

    @include tablet {
      font-size: 18px;
    }
  }

  &Text {
    @extend .text;
    font-size: $font-size-lg;

    @include tablet {
      font-size: 16px;
    }
  }

  &ProgressBar {
    position: relative;
    margin: 3rem 0;
    width: 100%;
    height: $progress-bar-height;
    border-radius: $border-radius;
    background-color: $secondary-color-transparent;

    @include tablet {
      margin: 1.5rem 0;
      height: $progress-bar-height-mobile;
    }


    &Raised {
      position: absolute;
      background-color: $secondary-color;
      height: $progress-bar-height;
      border-radius: $border-radius;

      @include tablet {
        height: $progress-bar-height-mobile;
      }
    }
  }
}