.hero {
    margin-bottom: 15rem;

    &Top {
        margin: 15rem auto;

        @include tablet {
            margin: 0;
        }

        & h1 {
            margin: 0 0 2rem;

            @include tablet {
                line-height: 100%;
            }
        }

        &Text {
            width: 60%;
        }

        & button {
            margin: 2rem;
            margin-left: 0;

            @include tablet {
                margin: 3.5rem 0;
                margin-right: 1rem;
            }
        }
    }

    &Showcase {
        @include flex;
        justify-content: flex-start;
        margin: 5rem auto;
        overflow-x: scroll;

        @include tablet {
            gap: 3rem;
        }


        &::-webkit-scrollbar {
            width: .5rem;

            &-thumb {
                background-color: $secondary-color;
                border-radius: .7rem;
            }

            &-track {
                border-radius: .7rem;
                background-color: $secondary-color-transparent;
            }
        }
    }
}