.hero {
    margin-bottom: 15rem;

    &Top {
        margin: 21rem auto 15rem;

        & h1 {
            margin-bottom: 2rem;
        }

        &Text {
            width: 60%;
        }

        & button {
            margin: 2rem;
            margin-left: 0;
        }
    }

    &Showcase {
        @include flex;
        margin: 5rem auto;
    }
}