.hero {

    &Top {
        margin: auto;
        margin-top: 21rem;

        & h1{
            margin-bottom: 2rem;
        }

        &Text {
            width: 60%;
        }

        & button {
            margin: 20px;
            margin-left: 0;
        }
    }

    &Img {
        overflow: hidden;
        position: relative;
        aspect-ratio: 1440 / 697;
        padding: 0;
        margin: 15rem -15rem;

        & img {
            filter: grayscale(100%);
        }
    }
}