.reviews {
    & .container {
        @include flex;
        margin: 8rem auto 0;

        @include tablet {
            flex-wrap: wrap;
            gap: 5rem;
        }
    }

    &Card {
        @extend .text;
        @include flex-column;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        background-color: $cta-color-transparent;
        border-radius: $border-radius;
        color: $black-color;
        padding: 7rem 3rem 3rem;

        @include tablet {
            padding: 5rem 1.5rem;
        }


        & img {
            position: absolute;
            top: -15%;
            left: 50%;
            transform: translateX(-50%);
            border: .5rem $white-color solid;
            border-radius: 50%;

            @include tablet {
                top: -25%;
            }
        }

        &Name {
            text-transform: uppercase;
            font-weight: bold;
            margin: auto;
        }

    }

    & button {
        display: block;
        margin: 10rem auto;
    }
}