$tablet-max: $laptop - 1;
$laptop-max: $desktop - 1;

// Media queries
@mixin mobile {
    @media (max-width: $mobile) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: $tablet-max) {
        @content;
    }
}

@mixin laptop {
    @media (min-width: $laptop) and (max-width: $laptop-max) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: $desktop) {
        @content;
    }
}

// Buttons
@mixin button-style($color, $text-color, $border: false) {
    background-color: $color;
    padding: .7rem 2rem;
    border-radius: $border-radius;
    border: none;
    cursor: pointer;
    min-width: 23rem;
    color: $text-color !important;
    transition: all .5s ease;

    @extend .textAlt;

    @if $border {
        border: 1px solid $text-color;

        &:hover {
            filter: contrast(.85);
        }
    }

    &:hover {
        opacity: 0.75;
        transform: translateY(-0.3rem);
    }
}

// Flexbox mixins
@mixin flex {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10rem;

    @include laptop{
        gap: 5rem
    }
}

@mixin flex-column {
    @include flex;
    gap: 1.5rem !important;
    flex-direction: column;
}
