// Typography utility classes

.heading {
    font-size: $font-size-xxl;
}

.headingSec {
    font-size: $font-size-xl;
}

.heading,
.headingSec {
    color: $secondary-color;
}

.text {
    font-size: $font-size-md;
    color: $secondary-color;
}

.textAlt {
    color: $primary-color;
    // font-size: $font-size-mlg;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
}


// Small Components utility clases

.buttonPrimary {
    @include button-style($cta-color, $white-color);
}

.buttonSecondary {
    @include button-style($white-color, $cta-color, true);
}

.buttonWhite {
    @include button-style($white-color, $primary-color);
    text-transform: capitalize;
    font-weight: 400;
}