@import url('https://fonts.googleapis.com/css2?family=Beiruti:wght@200..900&display=swap');

// Import variables and mixins
@import './_variables';
@import './_mixins';
@import './_utils';


// Define global styles

$rem-base: 10px;

.html,
.body {
  background-color: $white-color;
  margin: 0;
  padding: 0;
  font-family: 'Beiruti', 'Tajawal', 'Lalezar', Arial, sans-serif, system-ui, -apple-system;
  box-sizing: border-box;
  font-size: $rem-base;
  overflow-x: hidden;

  & main {
    padding: 0 15rem;
    overflow: hidden;

    & h2 {
      margin: 1.5rem 0;
    }

    p {
      margin: 0
    }
  }

  & a {
    @extend .text;
    color: $white-color;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: all .5s ease;
    width: fit-content;
  }

  & button {
    font-family: 'Beiruti', 'Tajawal', 'Lalezar', Arial, sans-serif, system-ui, -apple-system;
  }

  ::-webkit-scrollbar {
    width: 1rem;

    &-thumb {
      background-color: $secondary-color;
      border-radius: 10px;
    }

    &-track {
      background-color: $primary-color;
    }
  }

  ::selection {
    background-color: $tertiary-color;
    color: $cta-color;
  }
}

.test {
  @include linear-gradient();
  width: 500px;
  height: 150px;
}