// Until it is responsive

.notResponsive {
    @extend .headingSec;
    display: none;
    text-align: center;

    // Until it is responsive
    @media (max-width: $tablet) {
        display: block;
    }
}
.main {

    &Content {

        @media (max-width: $tablet) {
            display: none;
        }

    }
}