.main {
    // Until it is responsive
    @media (max-width: $tablet) {
        padding: 3.5rem !important;
    }

    .notResponsive {
        @extend .headingSec;
        display: none;
        text-align: center;

        // Until it is responsive
        @media (max-width: $tablet) {
            display: block;
        }
    }

    &Content {

        @media (max-width: $tablet) {
            display: none;
        }

    }
}