.main {

    h2 {
        display: none;
        text-align: center;

        // Until it is responsive
        @media (max-width: $tablet) {
            display: block;
            padding: 5rem !important;
        }
    }

    &Content {

        @media (max-width: $tablet) {
            display: none;
        }

    }
}