.navbar {
  background-color: $primary-color;
  padding: .2rem 0;
  transition: all 0.3s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;


  @include tablet {
    @include flex;
    height: 100vh;
    flex-direction: column;
    gap: 5rem;
  }

  .container {
    @include flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 7rem;
    margin: 0 auto;

    @include tablet {
      flex-direction: column;
      gap: 0;
    }

    & .nav {
      flex: 1;
      padding-left: 8rem;

      & .ul {
        @include flex;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0;

        @include tablet {
          flex-direction: column;
          align-items: flex-start;
          gap: 5rem;
        }

        & .li {
          position: relative;
          width: 25%;
          text-align: center;
          color: $white-color;
          margin: 0;
          transition: all .5s ease;


          @include tablet {
            width: auto;
          }

          & a {
            color: $white-color;
          }

          &:hover {
            & a {
              font-weight: bold;
            }

            & p {
              font-weight: bold;

              & img {
                transform: rotate(-180deg);
              }
            }

            & ul {
              display: block;
            }

          }

          & .button {
            cursor: pointer;
            width: max-content;
            background-color: $white-color;
            color: $primary-color !important;
            text-transform: none;
            display: block;
            padding: .7rem 2rem;
            border-radius: $border-radius;
            border: none;
            transition: all .5s ease;

            &:hover {
              font-weight: bold;
            }
          }

          & p {
            @include flex;
            align-items: center;
            gap: 2rem !important;
            cursor: pointer;
            font-size: $font-size-md;
            font-weight: 400;

            @include tablet {
              display: none;
            }
          }

          & img {
            transition: all .5s ease;
          }
        }

        & .about {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 120px;

          @include tablet {
            display: none;
          }
        }

        & ul {
          display: none;
          @extend .text;
          cursor: pointer;
          color: $white-color;
          background-color: $secondary-color;
          position: absolute;
          top: 100%;
          left: 50%;
          transform: translatex(-50%);
          padding: 1rem 2rem;
          border-bottom-right-radius: 0.5rem;
          border-bottom-left-radius: 0.5rem;
          list-style: none;
          text-align: left;

          @include tablet {
            display: block;
            position: relative;
            transform: none;
            top: 0;
            left: 0;
            background-color: transparent;
            padding: 0;

            &>a:not(:last-of-type) {
              margin: 5rem 0;
            }
          }

          &:hover {
            display: block;
          }

          &>a {
            display: block;
            width: auto;
          }
        }
      }
    }
  }
}