.navbar {

  // Until it is responsive
  @media (max-width: $tablet) {
    display: none;
  }

  background-color: $primary-color;
  padding: .2rem 0;
  transition: all 0.3s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;

  .container {
    @include flex;
    gap: 15rem !important;
    justify-content: space-around;
    align-items: center;
    padding: 0 7rem;
    margin: 0 auto;

    & .nav {
      flex: 1;

      & .ul {
        @include flex;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0;

        & .li {
          position: relative;
          width: 25%;
          text-align: center;


          &:hover {
            & a {
              font-weight: bold;
            }

            & p {
              font-weight: bold;

              & img {
                transform: rotate(-180deg);
              }
            }

            & ul {
              display: block;
            }

          }

          & .button {
            cursor: pointer;
            width: max-content;
            background-color: $white-color;
            color: $primary-color !important;
            text-transform: none;
            display: block;
            padding: .7rem 2rem;
            border-radius: $border-radius;
            border: none;
            transition: all .5s ease;

            &:hover {
              font-weight: bold;
            }
          }

          & p {
            @include flex;
            align-items: center;
            gap: 2rem !important;
            cursor: pointer;
            font-size: $font-size-md;
            font-weight: 400;
            color: $white-color;
            margin: 0;
            transition: all .5s ease;

            & img {
              transition: all .5s ease;
            }
          }

          & .about {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 120px;
          }

          & ul {
            display: none;
            @extend .text;
            cursor: pointer;
            color: $white-color;
            background-color: $secondary-color;
            position: absolute;
            top: 190%;
            left: 50%;
            transform: translatex(-50%);
            padding: 1rem 2rem;
            border-bottom-right-radius: 0.5rem;
            border-bottom-left-radius: 0.5rem;
            list-style: none;
            text-align: left;

            &:hover {
              display: block;
            }

            &>a {
              display: block;
              width: auto;
            }
          }
        }
      }
    }
  }
}