.heroCarousel {
  margin-top: 3rem;
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 2rem 0;

  &:hover {
    .heroCarouselButton {
      background-color: $secondary-color-transparent;
    }
  }

    @include tablet {
      &:hover{
        .heroCarouselButton{
          background-color: inherit;
        }
      }
    }

  &Track {
    display: flex;
    width: 100%;
    transition: transform 0.5s ease-in-out;
  }

  &Button {
    position: absolute;
    top: 40%;
    padding: 1px 5px;
    transform: translateY(-50%);
    border: none;
    border-radius: $border-radius;
    cursor: pointer;
    z-index: 1;
    background-color: transparent;
    transition: all .5s ease;

    &:hover {
      transform: translateY(-50%) scale(1.8);
    }

    @include tablet {
      top: unset;
      bottom: 0;
      padding: 1px 5px;

      &:hover {
        transform: translateY(-50%);
      }
    }

    &Prev {
      rotate: 90deg;
      left: -1.5%;
    }

    &Next {
      rotate: -90deg;
      right: -1.5%;
    }

    &Play {
      bottom: 0;
      right: 35%;
      top: auto;
      transform: none !important;
      color: $primary-color;
    }
  }

  &Dots {
    @include flex;
    gap: 1rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    margin-top: 1rem;
    transform: translateX(-50%);

    @include tablet {
      gap: 7px;
    }

    &Dot {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: rgba($secondary-color, 0.5);
      border: none;
      cursor: pointer;

      @include tablet {
        width: 7px;
        height: 7px;
      }

      &Active {
        background-color: $secondary-color;
      }
    }
  }
}