.footer {
    @include flex;
    gap: 0;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: $secondary-color-transparent;
    padding: 3rem 3rem .5rem;
    border-bottom: 1.5rem $primary-color solid;

    @include tablet {
        justify-content: center;
    }

    &Icons {
        @include flex-column;
        align-items: center;

        @include tablet {
            margin-bottom: 2rem
        }

        &Social {
            @include flex;
            gap: 1rem;

            @include tablet {
                gap: 3rem;
            }
        }
    }

    &Info {
        @include flex;

        @include tablet {
            gap: 0;
        }

        &Title {
            @extend .text;
            font-weight: bold;
        }

        & p {
            margin: 1rem 0;

            @include tablet {
                margin: .5rem 0;
            }
        }
    }

    &Copy {
        @extend .text;
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 100%;
        text-align: center;

        & a {
            color: $secondary-color;

            &:hover {
                color: $cta-color;
                border-bottom: none !important;
            }
        }
    }
}