$progress-bar-height: 7px;

.card {
    cursor: pointer;
    width: 30%;

    @include tablet{
        width: 60%;
    }

    &Top {
        position: relative;
        overflow: hidden;
        border-radius: $border-radius;

        &:hover {
            & img {
                transform: scale(1)
            }
        }

        @include tablet{
            width: 20rem;
        }
    }

    &Tag {
        @extend .text;
        position: absolute;
        bottom: 10%;
        left: 5%;
        background-color: rgba($primary-color, .65);
        color: $white-color;
        padding: 5px 10px;
        border-radius: $border-radius;
        z-index: 1;
    }

    & img {
        border-radius: $border-radius;
        width: 100%;
        margin-bottom: 1rem;
        height: auto;
        transform: scale(1.05);
        transition: all .5s ease;
    }

    &Title {
        @extend .textAlt;
        font-size: 32px;
        letter-spacing: 0;
        text-transform: none;
        line-height: 100%;
        margin: 1rem 0;

        @include tablet{
            font-size: 24px;
        }
    }

    &Text {
        @extend .text;
        font-size: $font-size-lg;
    }

    &ProgressBar {
        position: relative;
        margin: 3rem 0;
        width: 100%;
        height: $progress-bar-height;
        border-radius: $border-radius;
        background-color: $secondary-color-transparent;

        &Raised {
            position: absolute;
            background-color: $secondary-color;
            height: $progress-bar-height;
            border-radius: $border-radius;
        }
    }
}